/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 #layout1 {
 	display:table;
    	table-layout:fixed;
 	width: 100%;
 	vertical-align:top;
 }

 .sidebyside {
 	display: table-row; 
}
 
 #segment_tree {
 	padding: 1em;
 	display: table-cell;
 	width: 40%;
 	vertical-align:top;
 	border: solid 2px black;
 }
 
#diagram_pane {
	display: table-cell;
	width: auto;
	padding: 1em;
 	vertical-align:top;
 	border: solid 2px black;
}

#diagram_pane object {
	overflow:scroll;
}

#risk_pane {
 	padding: 1em;
 	display: table-cell;
 	width: 40%;
 	vertical-align:top;
 	border: solid 2px black;
}

#live_data_pane {
	display: table-cell;
	width: auto;
	padding: 1em;
 	vertical-align:top;
 	border: solid 2px black;
}

