<h1>Editing segment connection</h1>

<%= render "form", segment_connection: @segment_connection %>

<br>

<div>
  <%= link_to "Show this segment connection", @segment_connection %> |
  <%= link_to "Back to segment connections", segment_connections_path %>
</div>
